@import '../../styles/mixins';

@slider-ball-radius: 20px;

.range-container {
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

.range-container--hidden {
  opacity: 0;
  visibility: hidden;
}

.range-input {
  position: relative;
  height: 8px;
  border-radius: 4px;
  background-color: #d8d8d8;
}

.range-input__active {
  position: absolute;
  height: 8px;
  top: 0;
  left: 0;
  background-color: #9a270a;
}

.range-input > input[type=range] {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 2px 0;
  height: 8px;
  bottom: -@slider-ball-radius;
  z-index: 1;
}
.range-input > input[type=range]::-webkit-slider-thumb { transform: translateY(-18px); }
.range-input > input[type=range]::-webkit-slider-runnable-track { -webkit-appearance: none; height: 0; }
.range-input > input[type=range]::-moz-range-thumb { transform: translateY(-18px); }
.range-input > input[type=range]::-moz-range-track { -webkit-appearance: none; height: 0; }
.range-input > input[type=range]::-ms-thumb { transform: translateY(-18px); }
.range-input > input[type=range]::-ms-track { -webkit-appearance: none; height: 0; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider_ball {
  position: relative;
  .eq_size(20px);
  margin-left: 0;
  margin-right: 0;
  background: white;
  cursor: pointer;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  &::before {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: #d8d8d8;

    content: '';
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -10px;
  .slider_ball;
}

input[type=range]::-moz-range-thumb {
  .slider_ball;
}

input[type=range]::-ms-thumb {
  .slider_ball;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

.text-input {
  margin: 3px 0 13px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  & > input {
    padding: 2px 0;
    max-width: 46px;
    text-align: center;
    font-size: 13px;
    color: #4a4a4a;
    background-color: white;
    border: 1px solid rgba(155,155,155,0.5);
    border-radius: 3px;
  }
  &__dash {
    width: 9px;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }
}