@import '../fonts/font-awesome-4.7.0/less/font-awesome';
@import './mixins';

// VARS \\
@left-nav-width: 200px;
@left-nav-bg: white;
@left-nav-color: white;
@left-nav-color--hovered: gold;
@body-color: blue;

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Black.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-ExtraBold.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Light.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Thin.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Bold.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Medium.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo/Heebo-Regular.woff2') format('woff2'),
  url('../fonts/Heebo/Heebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



body {
  color: @body-color;
  background-color: #f5f5f5;
  font-family: Heebo, sans-serif;
  transition: opacity 0.3s;
  min-width: 992px;
}

body.loaded {
  opacity: 1;
}

.b-left-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: @left-nav-width;
  min-height: 570px;
  height: 100%;
  box-shadow: 0.707px 0.707px 2px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(0deg, #dc3f43 0%, #e8191f 100%);
  font-size: 16px;
  font-weight: 500;
  z-index: 1;

  &__links {
    padding: 70px 18px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    padding-left: 42px;
    margin-bottom: 25px;
    height: 25px;
    display: flex;
    color: @left-nav-color;
    text-decoration: none;

    &:hover {
      color: @left-nav-color--hovered;
      text-decoration: underline;
    }

    svg {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      fill: currentColor;
    }
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 13px 20px;
    height: 20px;
    display: flex;
    background: rgba(0, 0, 0, 0.16); // #00000029;
  }

  &__user {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
    background-color: white;

    &-link {
      margin: 6px 13px;
      height: 20px;
      color: @left-nav-color;
      text-decoration: none;
      &:hover {
        color: @left-nav-color--hovered;
        text-decoration: underline;
      }
    }
  }
}

.b-main {
  margin-left: 200px;
  //padding: 15px 92px;
  padding: 15px 3.5vw 15px 7.25vw;
  &__title {
    width: 167px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    color: white;
    font-weight: 500;
  }
}

.b-breadcrumbs {
  display: flex;
  padding: 0 9px;
  &__item {
    margin-right: 20px;
    font-size: 25px;
    color: #4a4a4a;
    font-weight: 300;
    text-align: center;
  }
}

.b-tabs {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
  background-color: white;
  &__nav {
    padding: 14px 0;
    border-bottom: 1px solid #9797974d;
    height: 23px;
    .user-select(none);
    @media (max-width: 1200px) {
      justify-content: space-between;
    }
  }
  &__items {
    display: flex;
    max-width: 665px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    padding: 0 2rem;
    flex: 1;
    font-size: 15px;
    text-align: center;
    color: #97040c;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;

    @media (max-width: 1200px) {
      padding: 0;
    }
    &--active {
      color: #4a4a4a;
      font-weight: 500;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 100%;
        height: 2px;
        background: #9f0008;
      }
    }
  }
  &__content {
    min-height: 625px;
    display: none;
    &--active {
      display: block;
    }
  }
  &__footer {
    padding: 15px 15px 13px;
    height: 33px;
    display: flex;
    align-items: center;
    background-color: #ececec;
    font-size: 13px;
    color: #4a4a4a;
    font-weight: 400;
    text-align: center;
    .user-select(none);
  }
}

.b-day {
  display: flex;
  padding-right: 18px;
  padding-left: 27px;
  margin-top: 30px;
  height: 35px;
  .user-select(none);
  &--all {
    margin-bottom: 37px;
  }
}

.b-checkbox {
  margin-right: auto;
  &__label {
    font-size: 15px;
    color: #9b9b9b;
    font-weight: 400;
  }
}

.b-range {
  position: relative;
  top: -30px;
  width: 78.5%;
}

.b-schedule {
  display: flex;
  height: 35px;
  margin: 26px 20px 42px 20px;
  border-bottom: 1px solid #9797974d;
  &__title {
    padding-left: 6px;
    font-size: 15px;
    color: #9b9b9b;
    font-weight: 400;
  }
  &__choice {
    position: relative;
    margin-left: 130px;
    display: flex;
    align-items: start;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 400;
    .user-select(none);

    input {
      margin: 0;
      top: -2px;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    input:checked + label {
      &::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        .eq_size(12px);
        background-color: #4a90e2;
        border-radius: 50%;
      }
    }

    label {
      cursor: pointer;
      margin: -2px 19px 0 0;
      padding-left: 26px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        .eq_size(16px);
        background-color: transparent;
        border: 1px solid #ccc;
        border-radius: 50%;
      }
    }
  }
}

.btn-submit {
  width: 149px;
  height: 36px;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  background-color: #21d366;
  border: 1.3162667433065698px solid rgba(0,0,0,0.05);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: scale 0.3s;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.8px;

  &:active {
    transform: scale(0.98);
  }
}

.btn-cancel {
  margin: 0 12px;
  font-size: 13px;
  color: #97040c;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}