@import '../../fonts/font-awesome-4.7.0/less/font-awesome';

.checkbox {
  cursor: pointer;
  position: relative;
  top: -3px;

  input {
    display: none;
  }

  svg {
    position: absolute;
    pointer-events: none;

    path {
      fill: white;
      transition: fill 0.3s;
    }
  }
  .checkbox__check {
    .fa-icon;
    font-size: 10px;
    color: white;
    &:before {
      content: @fa-var-check;
      position: absolute;
      left: 6px;
      top: 4px;
    }
  }

  &--checked {

    svg path {
      fill: #4ece3d;
    }
  }

  label {
    padding-left: 24px;
    font-size: 15px;
    color: #9b9b9b;
    font-weight: 400;
    user-select: none;
    cursor: pointer ;
  }
}
